<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ответ</title>
</head>
<body>
        <div class="comp">
            <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>