<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Сравнение моделей</title>
    <link rel="stylesheet" href="{% static 'compare/style.css' %}">
</head>

<body>

    <div class="comp">
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
        </form>
    </div>


</body>
</html>